@import url("../fonts/Rational/stylesheet.css");

h1, h2, h3, h4 {
	font-family: "rationalblack", sans-serif;
	/*font-weight: "Black Italic"; */
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

body {
	background-color: #F0F0F0;
    font-family: 'Inknut Antiqua', serif;
    font-size: 20px;
	margin: 0;
	padding: 3em;
	min-height: 100vh;
}

body.frontpage {
	background-image: url(../images/bg/bg_23.jpg);
    background-size: 100% 100%;

}

header {

}

.head {
        position: relative;
        display: inline-block;
        }
    .head .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .head:hover .img-top {
        display: inline;
    }

.headerpic {
	margin-top: 0.3em;
	margin-right: 0;
	float: right;
	position: relative;
	}

	.headerpic img {
	height: 120px;
	}

.main {
	padding: 0;
	margin: 0;
}

.proj {
	padding: 0;
	margin-top: 5em;
}

a {
	text-decoration: none;
	color: #000000;
}

a, a:visited {
	text-decoration: none;
	color: ;
}

a:hover {text-decoration: underline;
}

nav ul {
	list-style: none;
	padding: 0;
	margin-top: 1em;
	text-shadow: #f6d2ff 1.5px 1.5px;
}

nav.main ul.frontpage {
	margin-top: 3em;
}

nav.main ul li {
	display: inline;
	margin-right: 1.5em;
	font-size: 25px;
	font-family: "rationalsemibold", sans-serif;
}

nav.main ul li.frontpage {
	font-size: 40px;
}

.proj ul li {
	float: left;
	margin-right: 2em;
	margin-bottom: 4em;
	text-shadow: 0 0;
	font-family: 'Inknut Antiqua', serif;
    font-size: 30px;
    line-height: 2em;
    height: 100px;
	/*background-color: grey;    */
	width: 450px;
    height: 300px;
}

.proj ul li a:hover {text-shadow: #FFFC8F 1.5px 1.5px;
}

.proj ul li img {
	position: absolute;
	z-index:-5;
	margin-left: 2em;
	margin-top: -1em;
}

