@import url("../fonts/Rational/stylesheet.css");

h1, h2 {
	font-family: "rationalsemibold", sans-serif;
	/*font-weight: "Black Italic"; */
	font-size: 30px;
	letter-spacing: 1px;
}

h4 {
	font-size: 20px;
	letter-spacing: 0.5px;
}

h3 {
	font-size: 20px;
	text-decoration: underline;
	text-shadow: #f6d2ff 1.3px 1.3px;
	letter-spacing: 0.5px;
}

body {
	background-color: #F0F0F0;
    font-family: "rational", sans-serif;
    font-size: 20px;
	margin: 0;
	padding: 3em;
	min-height: 100vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*
body.frontpage {
	background-image: url(../images/bg/bg_23.jpg);
	background-repeat: no-repeat;
	background-position: center;
    background-size: auto;
} 
*/

header {

}

.head {
        position: relative;
        }
    .head .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }
    .head:hover .img-top {
        display: inline;
    }

.headerpic {
	margin-top: 0.3em;
	margin-right: 5em;
	float: right;
	outline: none;
	}

	.headerpic img {
	height: 70px;
	}

.sticky {
  position: fixed;
  width: 100%;
}

.main {
	padding: 0;
	margin: 0;
}

.proj {
	padding: 0;
	margin-top: 15em;
}

.caption {
	margin-top: -1em;
	font-size: 17px;

}

a {
	text-decoration: unset;
	color: #000000;
}

a, a:visited {
	text-decoration: unset;
	color: #000000;
}

a:hover {
	text-decoration: unset;
	color: #f6d2ff;
	text-shadow: #000000 1.3px 1.3px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin-top: 1em;
	text-shadow: #f6d2ff 1.5px 1.5px;
}

nav.main ul.frontpage {
	margin-top: 2em;
}

nav.main ul li {
	display: inline;
	margin-right: 1.5em;
	font-size: 50px;
	font-family: "rationalsemibold", sans-serif;
}

nav.main ul li.frontpage {
	font-size: 25px;
}

.proj ul li {
	float: left;
	margin-right: 2em;
	margin-bottom: 4em;
	text-shadow: 0 0;
	font-family: 'Inknut Antiqua', serif;
    font-size: 30px;
    line-height: 2em;
    height: 100px;
	/*background-color: grey;    */
	width: 450px;
    height: 300px;
}

.proj ul li a:hover {text-shadow: #FFFC8F 1.5px 1.5px;
}

.del ul {
	margin-top: 10em;
	float: left;
	margin-right: 5em;
	margin-bottom: 4em;
	text-shadow: 0 0;
	font-family: "rational", sans-serif;
    font-size: 20px;
    line-height: 1.3em;
    height: 100px;
	/*background-color: grey;    */
    height: 300px;
    
}

.type {
	width: 700px; 
}